<html>
<head>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

</head>
<body>
<script>
	var a=db.query('SELECT * FROM users WHERE id = $1');
	<h1>a</h1>
</script>
	<title></title>

</body>
</html>