
<html>
<head>

<title>List your board</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<style>
  body{
    margin: 30px;
  }
</style>
</head>
<body>
<h1>List your Surf Board! </h1><br><br>
<form name="addBoard" method="POST" action="/profile">
<label> Type of Surf Board <input type="text" name="typeOfBoard" autofocus></label> <br><br>
<label> Location <input type="text" name="location" ></label> <br><br>
<label> Price <input type="text" name="Price" ></label><br><br>
<label> Contact <input type="text" name="contact"></label>
 <div class="form-group">
    <label for="boardpicture">Upload a picture of your surf board</label>
    <input type="file" id="inputfile" name="boardpicture"> <br><br>
 </div>
    <button type="submit" class="btn btn-warning">Add your surf board</button>
</form>

</body>
</html>





