<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<style>
	body{
		margin: 30px;
	}
	</style>
</head>
<body>
	<h1>Login</h1> <br><br>

<form name="login" method="POST" action="/sessions">
	<label>username:  <input type="text" name="username" autofocus></label> <br><br>

	<label>password:  <input type="password" name="password"></label><br><br>
	<button type="submit" class="btn btn-warning">Submit</button>
</form>
</body>
</html>