<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<style>
		body{
			margin: 30px;
			background-color:#EFEFF2;
		}

		.row{
			font-size: 20px;
			text-align: right;
			margin-top: 20px;
		}
	</style>
</head>

<body>
	<div class="row">
		<div class="col-md-12">
			<ul class="list-inline">
				<li><a href="/">Home</a> </li>
			</ul>
		</div>
	</div>

	<h1>Login</h1> <br><br>

	<form name="login" method="POST" action="/sessions" class="form-group">
		<label>username:  <input type="text" name="username" autofocus class="form-group "></label> <br><br>
		<label>password:  <input type="password" name="password" class="form-group"></label><br><br>
		<button type="submit" class="btn btn-warning" class="form-group">Submit</button>
	</form>
</body>
</html>