<html>
<head>
	<title>New user</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<style>
		body{
			margin: 30px;
			background-color:#EFEFF2;
		}

		.row{
			font-size: 20px;
			text-align: right;
			margin-top: 20px;
		}
	</style>
</head>
<body>

	<div class="row">
		<div class="col-md-12">
			<ul class="list-inline">
				<li><a href="/">Home</a> </li>
			</ul>
		</div>
	</div>

	<h1>Sign up</h1><br>
	<form method="POST" action="/users" class="form-group">
		<label>Username: <input type="text" placeholder="Username" name="username" class="form-control" autofocus></label><br><br>
		<label>Email:    <input type="text" class="form-control" placeholder="Email" name="email"></label><br><br>
		<label>Password: <input type="password" placeholder="Password" name="password" class="form-control"></label><br><br>
		<button type="submit" class="btn btn-warning">Submit</button>
	</form>
</body>
</html>